<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Calculator</title>
</head>
<body>
    <h1>Calculator App</h1>
    <form>
        <label for="num1">Enter Value 1 Here:</label>
        <input type="number" id="num1" name="num1">
        <br><br>
        <label for="num2">Enter Value 2 Here:</label>
        <input type="number" id="num2" name="num2">
        <br><br>
        <input type="button" value="Calculate" onclick="displayResult()">
    </form>
    <div id="result" style="width: 100%; height: 60vh; border: 1px solid black; display: none;">
    </div>
    <br>
    <button onclick="goToSignUp()">Go to Sign Up Page</button>
    <button onclick="goToRating()">Go to Rating Page</button>

    <script>
        function displayResult() {
            let resultDiv = document.getElementById('result');
            resultDiv.style.display = 'block';
            resultDiv.innerText = 'Hello World! '.repeat(476);
        }
        function goToSignUp() {
            window.location.href = 'index.html';
        }
        function goToRating() {
            window.location.href = 'rating.html';
        }
    </script>
</body>
</html>