<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Sign Up</title>
</head>
<body>
    <h1>Welcome to My Lab-5 App!</h1>
    <form onsubmit="redirectToCalculator(event)">
        <label for="username">Please select your name:</label>
        <select id="username" name="username">
            <option value="akinde_tobiloba">Akinde, Tobiloba</option>
            <option value="bjering_oscar">Bjering, Oscar</option>
            <option value="capela_anthony">Capela, Anthony</option>
            <option value="debin_max">Debin, Max</option>
            <option value="decaro_shea">Decaro, Shea</option>
            <option value="deschamps_ethan">Deschamps, Ethan</option>
            <option value="dickman_rian">Dickman, Rian</option>
            <option value="farrell_christian">Farrell, Christian</option>
            <option value="fenton_ryan">Fenton, Ryan</option>
            <option value="galindo_delgado_david">Galindo Delgado, David</option>
            <option value="gloede_dominick">Gloede, Dominick</option>
            <option value="goldstein_seth">Goldstein, Seth</option>
            <option value="guarino_annadaliah">Guarino, Annadaliah</option>
            <option value="guitian_pedro">Guitian, Pedro</option>
            <option value="herlihy_tyler">Herlihy, Tyler</option>
            <option value="marston_samantha">Marston, Samantha</option>
            <option value="narewski_daniel">Narewski, Daniel</option>
            <option value="nguyen_do">Nguyen, Do</option>
            <option value="norris_oliva_tomas">Norris-Oliva, Tomas</option>
            <option value="phippen_calista">Phippen, Calista</option>
            <option value="quayson_eugene">Quayson, Eugene</option>
            <option value="regan_marcus">Regan, Marcus</option>
            <option value="stortz_samantha">Stortz, Samantha</option>
            <option value="thomas_owen">Thomas, Owen</option>
            <option value="vultaggio_richard">Vultaggio, Richard</option>
            <option value="wittmann_adam">Wittmann, Adam</option>
        </select>
        <br><br>
        <label for="password"> Create password:</label>
        <input type="password" id="password" name="password">
        <br><br>
        <input type="submit" value="Sign Up">
    </form>

    <script>
        function redirectToCalculator(event) {
            event.preventDefault();
            window.location.href = 'calculator.html';
        }
    </script>
</body>
</html>