<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Rating</title>
</head>
<body>
    <h1>Thank you for reviewing my app</h1>
    <p>On a scale of 0-100%, how satisfied are you with my app? 0 being the least satisfied, and 100 being the most satisfied.</p>
    <div class="rating-container">
        <span id="rating">0</span><span id="percent">%</span>
    </div>
    <br><br>
    <button onclick="changeRating(-1)">take 1% happiness away</button>
    <button onclick="changeRating(1)">add 1% happiness</button>
    <br>
    <button onclick="goToCalculator()">Go to Calculator Page</button>
    <button onclick="goToSignUp()">Go to Sign Up Page</button>
    <img src="../static/reviewimage.jpg" alt="Happy Image" class="bottom-center">

    <script>
        function changeRating(value) {
            let ratingElement = document.getElementById('rating');
            let currentRating = parseInt(ratingElement.innerText);
            let newRating = currentRating + value;
            if (newRating >= 0 && newRating <= 100) {
                ratingElement.innerText = newRating;
            }
        }
        function goToCalculator() {
            window.location.href = 'calculator.html';
        }
        function goToSignUp() {
            window.location.href = 'index.html';
        }
    </script>
</body>
</html>