body {
  background-color: rgba(0, 200, 255, 0.5);
  font-family: 'Courier New', Courier, monospace;
}

h1, p, label, select, input, button, div {
  font-family: 'Courier New', Courier, monospace;
}

button, input[type="submit"], input[type="button"] {
  background-color: #4CAF50;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* darker color when hovered */
button:hover, input[type="submit"]:hover, input[type="button"]:hover {
  background-color: #3f9043;
}

/* center image on bottom */
.bottom-center {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: auto;
}

/* happiness scale */
.rating-container {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  display: block;
  margin-top: 20px;
}